<html>
    <head>
        <title>Himanshu's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Product Blog</a></h1>
        </div>

        <div>
            <p>published: 08.06.2020, 10:14</p>
            <h2><a href="">Introduction</a></h2>
            <p> I am a product enthusiast!</p>
        </div>

        <div>
            <p>published: 08.06.2020, 10:14</p>
            <h2><a href="">Apps to be reviewed this week </a></h2>
            <p> Tinder, MyGate, Fampay</p>
        </div>
    </body>
</html>